body{
  font-family: sans-serif;
  background: #eee;
  /*text-align: center;*/
}
tr{
  background: #ffeeb1;
  height: 40px;
}
th, td{
  box-shadow: inset -1px -3px 20px 0 rgba(3, 0, 19, 0.2);
  border-radius: 8px;
}
#top{
  height: 40px;
  /*background: #88887f;*/
}
#top_center{
  position: fixed;
  left: 50%;
}
#center{
  text-align: center;
  height: 250px;
  width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -175px;
}
#info{
  font-family: 'Georgia', serif;
  font-size: 30px;
  color: #0099ff;
  text-shadow: 1px 1px 0 #444
}
#name{
  border: none;
      border: 2px solid #0099f3;
      border-radius: 16px;
      padding: 4px 8px;
      background: #c3dbe2;
      color: #5F5F5F;
      box-shadow:
        inset 0 2px 0 rgba(0,0,0,.2),
        0 0 4px rgba(0,0,0,0.1);
}
#dep{
  border: none;
      border: 2px solid #0099f3;
      border-radius: 16px;
      padding: 4px 8px;
      background: #c3dbe2;
      color: #5F5F5F;
      box-shadow:
        inset 0 2px 0 rgba(0,0,0,.2),
        0 0 4px rgba(0,0,0,0.1);
}
#usermass{
  border: none;
      border: 2px solid #0099f3;
      border-radius: 16px;
      padding: 4px 8px;
      background: #c3dbe2;
      color: #5F5F5F;
      box-shadow:
        inset 0 2px 0 rgba(0,0,0,.2),
        0 0 4px rgba(0,0,0,0.1);
}
#pass{
  border: none;
      border: 2px solid #0099f3;
      border-radius: 16px;
      padding: 4px 8px;
      background: #c3dbe2;
      color: #5F5F5F;
      box-shadow:
        inset 0 2px 0 rgba(0,0,0,.2),
        0 0 4px rgba(0,0,0,0.1);
}
#user-id{
  margin: 0 80px 0;
  padding: 5px 15px;
  border: 1px solid #000;
}
#content{
  font-family: sans-serif;
  font-size: 12px;
  /*background: #c3dbe2;*/
}
#red{
  background: #f1c7ae;
}
#green{
  background: #acf181;
}
#user{
  font-family: 'Georgia', serif;
  font-size: 14px;
  font-weight: bold;
  color: #318428;
}
#masseg{
  font-size: 14px;
  font-weight: bold;
}
#coment{
  font-size: 14px;
  font-weight: bold;
}
#ip{
  font-size: 14px;
  color: #8e8e8e;
}
/*
#message{
      border: none;
      border: 2px solid #0099f3;
      border-radius: 16px;
      padding: 4px 8px;
      background: #c3dbe2;
      color: #5F5F5F;
      box-shadow:
        inset 0 2px 0 rgba(0,0,0,.2),
        0 0 4px rgba(0,0,0,0.1);
}*/
#exit{

      margin: 3px 10px 0;
      padding: 5px 15px;
      background: #c3dbe2;
      border: 0px;
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.3s ease-out;
      box-shadow:
        inset 0px 2px 2px rgba(0, 153, 243, 0.6),
        2px 2px 2px rgba(0,0,0,0.1),
        0 0 4px 1px rgba(0,0,0,0.2);

}
#users{

      margin: 3px  0;
      padding: 5px 15px;
      background: #c3dbe2;
      border: 0px;
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.3s ease-out;
      box-shadow:
        inset 0px 2px 2px rgba(0, 153, 243, 0.6),
        2px 2px 2px rgba(0,0,0,0.1),
        0 0 4px 1px rgba(0,0,0,0.2);

}
.connect{
      padding: 5px 15px;
      background: #c3dbe2;
      border: 0px;
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.3s ease-out;
      box-shadow:
        inset 0px 2px 2px rgba(0, 153, 243, 0.6),
        2px 2px 2px rgba(0,0,0,0.1),
        0 0 4px 1px rgba(0,0,0,0.2);

}
#open{
      padding: 5px 15px;
      background: #c3dbe2;
      border: 0px;
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.3s ease-out;
      box-shadow:
        inset 0px 2px 2px rgba(0, 153, 243, 0.6),
        2px 2px 2px rgba(0,0,0,0.1),
        0 0 4px 1px rgba(0,0,0,0.2);

}
#sumbit{

      margin: 0 10px 0;
      padding: 5px 15px;
      background: #c3dbe2;
      border: 0px;
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.3s ease-out;
      box-shadow:
        inset 0px 2px 2px rgba(0, 153, 243, 0.6),
        2px 2px 2px rgba(0,0,0,0.1),
        0 0 4px 1px rgba(0,0,0,0.2);

}
.clock {
    position: fixed;
    text-align: center;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    color: #17D4FE;
    font-size: 40px;
    font-family: monospace;
    letter-spacing: 7px;
}
