{% extends "base.html" %}
{% block title %}404 Not Found{% endblock title %}
{% block body %}
<h1>Not Found</h1>
<p>The requested URL was not found on the server.  If you entered the URL manually please check your spelling and try again.</p>
{% endblock body %}
