{% extends "base.html" %}
{% block title %}Admin Help{% endblock title %}
{% block scrip %}
    {% if 'admin' in request.path %}
    <script type="text/javascript">
        var last_id = {{ orders[0][0] }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    {% endif %}
{% endblock %}
{% block body %}
    <div id="top">
        <form action="{{ url_for('history_data') }}" id="filter" method="post"></form>
        <a href="{{ url_for('logout') }}"><input type="button" id="exit" value="Exit"></a>
        <a href="{{ url_for('all_users') }}"><input type="button" id="users" value="Users"></a>
        <input form="filter" type="date" max="{{ data_max }}" min="{{ data_min }}" name="data_start">
        <input form="filter" type="date" max="{{ data_max }}" min="{{ data_min }}" name="data_end">
        <input form="filter" type="submit" value="Filter">
    </div>
    <div id="content">
        {% include "ticket.html" %}
    </div>
{% endblock body %}
