{% extends "base.html" %}
{% block title %}LOGIN ADMIN{% endblock title %}
{% block body %}
  <div id="center">
  <div id="info">Вход</div>
  <form action="{{ url_for('admin') }}" method="post">
    <input type="text" name="user" id="name" size="20" placeholder="Login"><br>
    <input type="password" name="pass" id="name" size="20" placeholder="Password"><br>
    <input type="submit" id="sumbit" value="Вход">
  </form>
</div>
{% endblock body %}
