<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    {% block scrip %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
