{% extends "base.html" %}
{% block title %}HELP{% endblock title %}
{% block body %}
<div id="center">
    <div id="info">Обращение к администратору</div>
    <form action="{{ url_for('send') }}" method="post">
        {% if user==None %}
        <input type="text" name="name" id="name" size="40" placeholder="ФИО" required><br />
        <input type="text" name="dep" id="dep" size="40" placeholder="Отдел"><br />
        {% else %}
        <div id="user">{{user}}</div>
        <input hidden="true" type="text" name="name" id="name" size="40" placeholder="ФИО" value="{{ user }}"><br />
        <input hidden="true" type="text" name="dep" id="dep" size="40" placeholder="Отдел" value="{{ dep }}"><br />
        {% endif %}
        <textarea type="text" name="message" id="usermass" cols="42" rows="5" placeholder="Опишите вашу проблему" required></textarea><br />
        <input type="submit" id="sumbit" value="Отправить запрос">
    </form>
</div>
{% endblock body %}
