{% extends "base.html" %}
{% block title %}LOGIN ADMIN{% endblock title %}
{% block body %}
  <div id="center">
  <div id="info">Вход</div>
  <form action="{{ url_for('/') }}" method="post">
    <input type="text" name="user" id="name" size="20" placeholder="ФИО"><br>
    <input type="password" name="pass" id="pass" size="20" placeholder="Отдел"><br>
    <input type="submit" id="sumbit" value="Вход">
  </form>
</div>
{% endblock body %}