{% extends "base.html" %}
{% block title %}Order {{ id }}{% endblock title %}
{% block body %}
    <div id="top">
        <a href="{{ url_for('admin') }}"><input type="button" id="exit" value="Назад"></a>
    </div>
    <div id="center">
        <div id="user">{{ order[0][1] }}</div>
        <div>{{ order[0][2] }}</div>
        <div id="info">{{ order[0][3] }}</div>
        <form action="{{ url_for('order', id=id) }}" method="post">
            <textarea type="text" name="coment" id="name" cols="42" rows="5" placeholder="Решение"></textarea><br>
            <input type="submit" id="sumbit" value="Закрыть заявку">
        </form>
      </div>
{% endblock body %}
