{% extends "base.html" %}
{% block title %}HELP{% endblock title %}
{% block body %}
    <div id="center">
    <div id="info">
    <p>Ваша заявка с номером #{{ ticket_id }} зарегистрирована</p>
    <!--<p>Скоро с Вами свяжутся.</p>
    <p>Приятного дня &#128521</p>-->
    </div>
    </div>
{% endblock body %}
