{% extends "base.html" %}
{% block title %}Order {{ id }}{% endblock title %}
{% block body %}
    <div id="top">
        <a href="{{ url_for('admin') }}"><input type="button" id="exit" value="Назад"></a>
    </div>
    <div id="center">
        <div id="user">{{ order[0][1] }}</div>
        <div>Время подачи заявки: {{ order[0][2] }}</div>
        <div>Описание пользователя:</div>
        <div id="info">{{ order[0][3] }}</div>
        <div>Время закрытия заявки: {{ order[0][4] }}</div>
        <div>Коментарий администратора:</div>
        <div id="info">{{ order[0][5] }}</div>
    </div>
{% endblock body %}
