<table style="
    position: static;
    width: 100%;" >
    <tbody>
        <tr>
            <th width="20%">id</th>
            <th colspan="2"> <div style="position: absolute;left: 55.5%;">Заявка</div>
                <div style="text-align: right;">
                    <a href="{{ url_for('admin', count=10) }}">10</a>
                    <a href="{{ url_for('admin', count=25) }}">25</a>
                    <a href="{{ url_for('admin', count=50) }}">50</a>
                    <a href="{{ url_for('history') }}">all</a>
                </div>
            </th>
        </tr>
    {% if orders %}
        {% for order in orders %}
            <tr {% if order[4] != None %} id="green"  {% else %} id="red" {% endif %}>
                <td id="id-{{ order[0] }}" width="20%" data="{{ order[0] }}">
                  <div id="time_op" align="center">Время подачи заявка<br />
                    {{ order[2] }}</div>
                    <div>id-{{ order[0] }}</div>
                    <div align="center">Время закрытия заявка<br />{% if order[4] != None %}
                            {{ order[4] }}
                            {% endif %}</div>
                </td>
                <td  >
                    <div id="user" align="center" >{{ order[1] }}</div>
                    <div id="masseg" >{{ order[3] }}</div>
                    <hr />
                    <div id="coment">  {% if order[5] != None %}
                            {{ order[5] }}
                            {% endif %}</div>
                    <div id="ip" align="center">{{ order[6] }} <input hidden="true" type="button" class="connect" value="Connect"></div>
                </td>
                <td width="5%">
                    {% if order[5] != None %}
                    <a href="{{ url_for('show', id=order[0]) }}"><input type="button" id="open" value="Open"></a>
                    {% else %}
                    <a href="{{ url_for('order', id=order[0]) }}"><input type="button" id="open" value="Open"></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
