{% extends "base.html" %}
{% block title %}HELP{% endblock title %}
{% block body %}
  <div id="top">
    <a href="{{ url_for('logout') }}"><input type="button" id="exit" value="Exit"></a>
    <a href="{{ url_for('admin') }}"><input type="button" id="users" value="Главная"></a>
    <a href="{{ url_for('user', id=0) }}"><input type="button" id="users" value="Создать пользователя"></a>
  </div>
  <div id="content">
      <table style="position: static;
      width: 100%;">
          <tr >
              <th width="5%">id</th>
              <th>Name</th>
              <th>Department</th>
          </tr>
          {% for user in users %}
          <tr>
              <td>
                  {{ user[0] }}
              </td>
              <td>
                  <a href="{{ url_for('user', id=user[0]) }}">{{ user[1] }}</a>
              </td>
              <td>
                  {{user[2] }}
              </td>
          </tr>
          {% endfor %}
      </table>
  </div>
{% endblock body %}
