{% extends "base.html" %}
{% block title %}Create user{% endblock title %}
{% block body %}
<div id="center">
    {% if id == '0' %}
    <div id="info">Создать пользователя</div>
    {% else %}
    <div id="info">Изменить пользователя</div>
    {% endif %}
    <form action="{{ url_for('update_user', id=id) }}" method="post">
        <input type="text" name="name" id="name" size="40" {% if id == '0' %} placeholder="ФИО" required {% else %} value="{{ user[1] }}" {% endif %}><br />
        <input type="text" name="dep" id="dep" size="40" {% if id == '0' %} placeholder="Отдел" {% else %} value="{{ user[2] }}" {% endif %}><br />
        <input type="password" name="password" id="dep" size="40" placeholder="Пароль"><br />
        Администратор <input type="checkbox" name="is_admin" {% if id != '0' and user[4] == 1 %} checked {% endif %}><br />
        <input type="submit" id="sumbit" value="Отправить запрос">
    </form>
</div>
{% endblock body %}
